@{
    ViewData["Title"] = "Home Page";
}

<div class="page-home">
   <section class="section-intro">
       <div class="inner-wrapper">
           <img class="intro-image" src="https://fedoramagazine.org/wp-content/uploads/2015/03/test-days-945x400.png" alt="Welcome to my cool site!" />
           <div class="intro-text">
               <span>hello world! Dit is echt een coole website! Dat weet je toch wel????!</span>
           </div>
       </div>
   </section>
   <section class="section-functionalities">
       <div>Dit is een andere sectie!</div>
   </section>
</div>
